<a class="av-control toggle {{#if fullscreen}}avqol-control--active{{/if}}" data-action="toggle-fullscreen" data-tooltip="{{#if fullscreen}}{{localize 'AVQOL.AVControlToggleFullScreenTooltipShrink'}}{{else}}{{localize 'AVQOL.AVControlToggleFullScreenTooltipExpand'}}{{/if}}">
    {{#if fullscreen}}
    <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
    {{else}}
    <i class="fa-solid fa-expand"></i>
    {{/if}}
</a>
