<div id="avqol-pushtotalk" class="avqol-pushtotalk">
    <i class="fa-solid fa-microphone-slash avqol-pushtotalk__muted-icon"></i>
    <i class="fa-solid fa-microphone-lines avqol-pushtotalk__unmuted-icon"></i>
</div>
