.avqolsettings .window-content {
    padding: 5px;
}

.avqol__permission {
    margin-bottom: 0.5em;
    padding: 6px 8px;
    line-height: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--color-shadow-dark);
    color: var(--color-text-light-1);
    font-size: var(--font-size-14);
    text-shadow: 1px 1px black;
    display: flex;
    justify-content: space-between;
}

.avqol__permission--granted {
    background: rgba(47, 80, 132, 0.8);
    border: 1px solid var(--color-level-info);
}

.avqol__permission--prompt {
    background: rgba(214, 150, 0, 0.8);
    border: 1px solid var(--color-level-warning);
}

.avqol__permission--denied {
    background: rgba(105, 0, 8, 0.8);
    border: 1px solid var(--color-level-error);
}
