.avqolsettings .window-content {
    padding: 5px;
}

.avqol-form section {
    flex: 0;
}

.avqol-permissions__permission {
    margin-bottom: 0.5em;
    padding: 6px 8px;
    line-height: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--color-shadow-dark);
    color: var(--color-text-light-1);
    font-size: var(--font-size-14);
    text-shadow: 1px 1px black;
    display: flex;
    justify-content: space-between;
}

.avqol-permissions__permission--prompt {
    background: rgba(214, 150, 0, 0.8);
    border: 1px solid var(--color-level-warning);
}

.avqol-permissions__permission--denied {
    background: rgba(105, 0, 8, 0.8);
    border: 1px solid var(--color-level-error);
}

.avqol-video-preview {
    --color-border-av-light: #dfac46;
    --color-border-av-dark: #a85424;
    --av-frame-border-width: 3px;
    --av-border-radius: 4px;
    --av-width: 240px;
    padding: var(--av-frame-border-width);
    background: linear-gradient(to bottom, var(--color-border-av-light) 0%, var(--color-border-av-dark) 100%);
    border-radius: var(--av-border-radius);
    width: var(--av-width);
    display: block;
    margin: 0 auto;
    position: relative;
}

.avqol-video-preview__container::before {
    content: "";
    display: block;
    padding-bottom: calc(100% * 3/4);
    border-radius: var(--av-border-radius);
}

.avqol-video-preview__container {
    border-radius: var(--av-border-radius);
    display: block;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.avqol-video-preview__avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: var(--av-border-radius);
}

.avqol-video-preview__video {
    transform: scaleX(-1);
    border: none;
    border-radius: var(--av-border-radius);
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

.avqol-pids {
    flex: 1;
    display: flex;
}

.avqol-pids__cell {
    background-color: #e6e7e8;
    width: calc(10% - 10px);
    height: 10px;
    display: inline-block;
    margin: 5px;
}

.avqol-pids__cell--active {
    background-color: #69ce2b;
}

.avqol-pids + .form-group {
    margin-left: 10px;
}

.avqol-mic-test {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.avqol-video-effect:not(.avqol-video-effect--active) .avqol-video-preview__canvas {
    display: none;
}

.avqol-video-effect.avqol-video-effect--active .avqol-video-preview__video {
    display: none;
}

.video-container.avqol-video-effect--active .user-camera {
    display: none !important;
}

.avqol-video-preview__canvas,
.avqol-video-effect__canvas {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: var(--av-border-radius);
    position: absolute;
    top: 0;
    left: 0;
}


.avqol-video-effect--loading::after {
    content: "";
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.6s linear infinite;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.6;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.camera-view .player-name {
    z-index: 1;
}

.avqol-deny-play::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    backdrop-filter: blur(6px);
}

.avqol-control--disabled {
    display: none!important;
}

.avqol-virtual-background-options:empty {
    display: none;
}


.avqol-pushtotalk {
    color: #ffffff;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.05);
    background: rgba(0, 0, 0, 0.5);
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    cursor: pointer;
    pointer-events: all;
    transition: all 0.2s ease-in;
}

.avqol-pushtotalk:hover {
    border: 1px solid var(--color-border-highlight-alt);
    border-bottom: 1px solid var(--color-border-highlight);
    box-shadow: 0 0 10px var(--color-shadow-highlight);
    transition: all 0.2s ease-out;
}

#ui-bottom > div.avqol-pushtotalk__container {
    justify-content: flex-start
}

.avqol-pushtotalk__container #fps {
    justify-self: flex-end;
    margin-left: auto;
}

.avqol-pushtotalk--speaking,
.avqol-pushtotalk--speaking:hover {
    --color-border-av-speaking: #3ba55d;
    border: 4px solid var(--color-border-av-speaking);
}

.avqol-pushtotalk.avqol-pushtotalk--broadcasting .avqol-pushtotalk__muted-icon,
.avqol-pushtotalk:not(.avqol-pushtotalk--broadcasting) .avqol-pushtotalk__unmuted-icon {
    display: none;
}

.avqol-pushtotalk.avqol-pushtotalk--broadcasting .avqol-pushtotalk__unmuted-icon,
.avqol-pushtotalk:not(.avqol-pushtotalk--broadcasting) .avqol-pushtotalk__muted-icon {
    display: block;
}

.avqol-pushtotalk--disabled {
    pointer-events: none;
    opacity: 0.5;
}

.avqol-pushtotalk.avqol-pushtotalk--disabled  .avqol-pushtotalk__unmuted-icon {
    display: none;
}

.avqol-pushtotalk.avqol-pushtotalk--disabled .avqol-pushtotalk__muted-icon {
    display: block;
}
